body {
  margin: 0px;
  padding: 20px 40px;
  font-family: "Open Sans Condensed", sans-serif;
  @media (max-width: 800px) {
    padding: 0px;
  }
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}
